*,
*::after,
*::before {
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
  display: inline-block;
}

body {
  color: #505050;
	font-family: 'Lato', sans-serif;
	font-size: 16px;
	line-height: 20px;
	font-weight: 400;
}

/* header start */
.header__top {
  /* помещаем картинку */
  background-image: url(../images/top-bg.jpg);
  /* высота 100% высоты экрана */
  height: 100vh;
  /* без повторов */
  background-repeat: no-repeat;
  /* покрывает всю видимую часть */
  background-size: cover;
  /* размещаем картинку в центре */
  background-position: center;
  /* делаем отступ рамки внутри картинки */
  padding: 40px;
}

.header__top-inner {
  /* делаем рамку: */
  border: 2px solid #ecb84c;
  /* убираем нижнюю часть рамки */
  border-bottom: none;
  /* выравниваем надписи внутри картинки */
  display: flex;
  flex-direction: column;
  height: 100%;
  /* задавем цвет текста в header */
  color: #fff;
	font-family: Georgia;
}

.header__title {
  /* копируем свойства текста заголовка из Фигма */
  font-weight: bold;
  font-size: 200px;
  line-height: 227px;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.5);
  /* отцентрировали с помощью флексов в родителе */
  margin: auto;
	font-weight: 700;
}

.header__text {
  /* копируем свойства текста заголовка из Фигма */
  font-size: 24px;
  line-height: 27px;
  text-shadow: 0px 2px 1px rgba(0, 0, 0, 0.5);
  /* задаем флекс, чтобы не брал свойства от родителя */
  display: flex;
  /* отменяем перенос текста, чтобы он был одной строкой */
  white-space: nowrap;
  /* выравнимаем линию по центру текста */
  align-items: center;
  /* выравниваем нижнюю линию, используя devtools для сверки */
  margin-bottom: -12px;
}

/* делаем линию перед и после текста внизу картинки */
.header__text::after,
.header__text::before {
  content: "";
  border-top: 2px solid #ecb84c;
  width: 100%;
}

.header__text::after {
  margin-left: 30px;
}

.header__text::before {
  margin-right: 30px;
}

/* делаем линию */
.menu {
  border-bottom: 1px solid rgba(208, 212, 216, 0.5);
}

/* выравниваем элементы меню */
.menu__list {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* стилизацию пункта меню */
.menu__list-link {
  padding: 24px 10px 20px;
  color: #909090;
  font-weight: bold;
  font-size: 14px;
  line-height: 19px;
  margin: 0 6px;
	/* компенсируем толщину подчеркивания, делая его прозрачным, чтобы не было прыжков при наведении */
	border-bottom: 4px solid transparent;
	transition: all .5s;
}

.menu__list-link:hover{
	color: #4E5665;
	border-bottom: 4px solid #ECB84C;
}

/* header end */

